<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QAQ_USBUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QAQ_USBUpdate.Properties.Settings>
            <setting name="InstallDriver64Dir" serializeAs="String">
                <value>FTDI_USB_SETUP</value>
            </setting>
            <setting name="InstallDriver32Dir" serializeAs="String">
                <value>FTDI_USB_SETUP</value>
            </setting>
            <setting name="InstallDriverApp64" serializeAs="String">
                <value>CDM21224_Setup.exe</value>
            </setting>
            <setting name="InstallDriverApp32" serializeAs="String">
                <value>DpInstx86.exe</value>
            </setting>
        </QAQ_USBUpdate.Properties.Settings>
    </userSettings>
</configuration>